*{
  box-sizing: border-box;
}

body{
  background-attachment: fixed;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.7em;
  font-family: 'Bad Script', cursive;
}

a:hover{
  color: rgb(0, 30, 158);
}
