*{
  box-sizing: border-box;
}

body{
  background-attachment: fixed;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-family: 'Bad Script', cursive;
}

a:hover{
  color: rgb(45, 194, 204);
}


.main-nav{
  background-color: rgba(121, 121, 121,0.3);
}

.main-nav ul{
  list-style: none; /* Saca la viñeta de los <li> */
  margin: 0;
  padding: 0;
  text-align: center; /* centra horizontalmente los <li> pues estos están como display: inline-block*/
}

.main-nav li{
  display: inline-block; /* Los alinea en horizontal y los vuelve un elemento de semi bloque */
  margin: 0 15px;
}

.main-nav a{
  font-size: 17px;
  text-decoration: none; /* Saca el subrayado */
  color: #000;
  display: block;
  padding: 10px 15px; /* de arriba y abajo,   de los costados   */
}

.main-nav a i{
  display: inline-block; /* para darle tamaño al <i> */
  vertical-align: middle; /*alinea verticalmente hermanos de inline-block*/
  width: 30px;
  height: 30px;
  background-color: #777;
  color: #FFF;
  line-height: 30px; /*Centra verticalmente el contenido*/
  border-radius: 50%; /*Redondea las esquinas*/
}

.sugerencias{
  color: #000;
}
